.auth-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.78);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
  }

  @font-face {
    font-family: "PixelifySans";
    src: url("/public/fonts/PixelifySans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  .auth-box {
    background: #14110f;
    padding: 40px 35px;
    width: 420px;
    border-radius: 25px;
    border: 4px solid #ffae00;
    box-shadow: 0 0 25px #ffae00, 0 0 50px rgba(255,150,0,0.4);
    position: relative;
    animation: pop 0.3s ease-out;
  }
  
  @keyframes pop {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-family: "PixelifySans";
    font-size: 14px;
    cursor: pointer;
    color: #ffae00;
    padding: 5px;
  }
  
  .close-btn:hover {
    transform: scale(1.08);
  }
  
  .auth-title {
    text-align: center;
    font-family: "PixelifySans";
    font-size: 20px;
    margin-bottom: 25px;
    color: #ffae00;
  }
  
  .auth-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  
  /* =============== INPUTS ALINIAT PERFECT =============== */
  
  .auth-input {
    width: 100%;
    padding: 12px;
    background: #27221f;
    border: 3px solid #ffae00;
    border-radius: 12px;
    color: #fff;
    font-size: 13px;
    font-family: "Pixelify Sans";
    box-sizing: border-box;
  }
  
  .password-wrapper {
    position: relative;
  }
  
  .show-pass-hint {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
    color: #ffae00;
    opacity: 0.6;
    pointer-events: none;
  }
  
  /* =============== BUTTONS =============== */
  
  .pass-gen-btn {
    background: #ff8c00;
    border: 3px solid #ffae00;
    padding: 8px 12px;
    color: black;
    border-radius: 12px;
    font-family: "PixelifySans";
    cursor: pointer;
  }
  
  .pass-gen-btn:hover {
    background: #ffb347;
  }
  
  .auth-btn {
    width: 100%;
    background: #ffae00;
    padding: 14px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    font-family: "PixelifySans";
  }
  
  .auth-btn:hover {
    background: #ffd165;
    transform: scale(1.04);
    box-shadow: 0 0 10px #ffae00;
  }
  
  /* SWITCH BELOW */
  .auth-switch {
    margin-top: 14px;
    text-align: center;
    font-size: 12px;
    color: #ffae00;
    cursor: pointer;
  }
  
  .auth-switch:hover {
    text-decoration: underline;
  }
  