.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal-content {
    background: url("/public/cabinet.PNG") no-repeat center;
    border-radius: 12px;
    padding: 20px 30px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    position: relative;
    animation: pop 0.2s ease-out;

  }
  
  @keyframes pop {
    from {
      transform: scale(0.8);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background: transparent;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  