.camera-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.92);
    backdrop-filter: blur(8px);
    z-index: 9999;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* container FULLSCREEN */
  .camera-modal {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: black;
    overflow: hidden;
  }
  
  /* video-ul umple tot ecranul */
  .camera-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: black;
  }
  