.camera-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.92);
    backdrop-filter: blur(8px);
    z-index: 9999;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* container FULLSCREEN */
  .camera-modal {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: black;
    overflow: hidden;
  }
  
  /* video-ul umple tot ecranul */
  .camera-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: black;
  }
  
  .camera-close {
    position: absolute;
  bottom:65px;
   
    z-index: 20;
  
    padding: 10px 18px;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
  
    color: #2b1a00;
    background: linear-gradient(
      180deg,
      #ffd86a 0%,
      #ffb800 60%,
      #e39a00 100%
    );
  
    border: none;
    border-radius: 10px;
  
    box-shadow:
      inset 0 2px 0 rgba(255,255,255,0.45),
      inset 0 -3px 0 rgba(120,60,0,0.55),
      0 4px 0 #7a4a00;
  
    cursor: pointer;
    transition: transform 0.12s ease, box-shadow 0.12s ease;
  }
  
  /* HOVER = adâncire ușoară (nu glow) */
  .camera-close:hover {
    transform: translateY(1px);
    box-shadow:
      inset 0 1px 0 rgba(255,255,255,0.4),
      inset 0 -2px 0 rgba(120,60,0,0.6),
      0 3px 0 #7a4a00;
  }
  
  /* CLICK = apăsat fizic */
  .camera-close:active {
    transform: translateY(4px);
    box-shadow:
      inset 0 2px 0 rgba(120,60,0,0.7),
      0 1px 0 #7a4a00;
  }
  